<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Sistema de Gerenciamento de Empresas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav-bar">
        <div class="logo">
            <a href="/empresas"><img src="/images/logo.jpg"></a>
        </div>
        <div class="link-home">
            <a href="/empresas">Home</a>
        </div>
        <div class="link-questoes">
            <a href="">Questões</a>
        </div>

    </div>
    <div class="container">


        <div class="titulo">
            <h1>Questões</h1>
        </div>

        <div class="box-questions">
            <div class="form-group-q">
                <label class = "enunciado">Resposta Questão 1: Nome da região do brasil que apresenta maior número de funcionários,
                    e o número de funcionários.</label>
                <input class="respostas" th:value="${respQ1}" readonly>
            </div>

            <div class="form-group-q">
                <label class = "enunciado">Resposta Questão 2: O nome da empresa mais antiga.</label>
                <input class="respostas" th:value="${respQ2}" readonly>
            </div>

            <div class="form-group-q">
                <label class = "enunciado">Resposta Questão 3: A região do brasil que tem maior número de empresas do setor Industrial.</label>
                <input class="respostas" th:value="${respQ3}" readonly>
            </div>

            <div class="form-group-q">
                <label class = "enunciado">Resposta Questão 4: O número de empresas de cada setor de atuação em ordem decrescente.</label>
                <textarea class="respostas-maior" th:text="${respQ4}" readonly></textarea>
            </div>

            <div class="form-group-q">
                <label class = "enunciado">Resposta Questão 5: O número total de funcionários de todas as empresas.</label>
                <input class="respostas" th:value="${respQ5}" readonly>
            </div>
        </div>

    </div>


    </div>

</body>

</html>